[submodule "wordpress/nbc-wp-content"]
	path = wordpress/nbc-wp-content
	url = https://github.com/wpcomvip/nbclocal-test.git
[submodule "wordpress/mu-plugins"]
	path = wordpress/mu-plugins
	url = https://github.com/Automattic/vip-go-mu-plugins.git
